<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body class="container">
    <ul>
        <li><a href="/">Home Page</a></li>
    </ul>
    <h1><code class="text-danger" style="background-color: #95999c">Access Denied</code></h1>
    <h3 >You don´t have permission to view this site.</h3>
    <h6>error code: <code style="background-color: #95999c">403 forbidden</code></h6>
    <p class="text-muted text-center">&COPY; Parwand Alsino 2022</p>
</body>
</html>