<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post" action="/student/register" th:object="${user}">
            <h2 class="form-signin-heading">Please sign up</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <span th:if="${#fields.hasErrors('username')}" style="color: red;" th:errors="${user.username}">Error</span>

            <p>
                <label for="password" class="sr-only">Password</label>

                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <span th:if="${#fields.hasErrors('password')}" style="color: red;" th:errors="*{password}">Error</span>

            </p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create a new account</button>
            <div class="alert alert-danger" th:if="${message}" th:text="${message}" role="alert">Message</div>
            <p class="text-center"><a href="https://www.parwand.net" target="_blank">&copy;Parwand Alsino</a></p>
        </form>
    </div>
</body>
</html>