<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

</head>
<body class="container">
    <h1>The user site</h1>
    <p>Hello <span th:text="${principal}">principal</span></p>
    <ul>
        <li><a href="/">Home Page</a></li>
    </ul>

    <div>
        <div th:if="${principal}">
            <form th:action="@{/logout}" method="post">
                <label for="logout"></label>
                <input type="submit" class="btn btn-sm btn-outline-primary" name="logout" value="Logout" id="logout">
            </form>
        </div>
        <a href="/login" th:unless="${principal}"><button class="btn btn-sm btn-outline-primary">login</button></a>
        <a href="/oauth2/authorization/github" th:unless="${principal}"><button class="btn btn-sm btn-outline-primary">login with gitHub</button></a>
    </div>
    <p class="text-center"><a href="https://www.parwand.net" target="_blank">&copy;Parwand Alsino</a></p>



</body>
</html>